.download-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
  }
  
  .download-text {
    width: 100%;
    height: 28px;
    margin-bottom: 40px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #605F5F;
  }
  
  .download-row {
    width: 100%;
    height: 200px; /* Half of phone1 image height */
    background-color: #ffffff;
    box-shadow: 0px 0px 6px 0px #bfbfbf;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  .twoimages-col {
    display: flex;
    align-items: flex-end;
    
  }
  
  .twoimages {
    position: relative;
    left: 35px;
    bottom: 125px;
    z-index: 1;
  }
  
  .phone1 {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 85%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 0;
  }
  
  .phone2 {
    width: 220px;
    height: 300px; /* Smaller height to make it appear smaller */
    position: relative;
    bottom: 0;
    right:10%;
    transform: translateX(-25%); /* Adjust this value to position it correctly over phone1 */
    z-index: 1;
  }
  .spancontainer{
    position: relative;
    left: 5px;
    bottom: 85px;
  }
  .spandownload {
    margin-top: 10px;
    font-family: Inter;
    font-size: 14px;
    color: #605F5F;
  }
  
  .downloadbtn {
    background-color: transparent;
    border: none;
    margin-top: 10px;
  }
  
  .googleplay, .appstore {
    width: 120px;
    height: 29px;
    mix-blend-mode:normal;
  }
  @media screen and (max-width: 768px) {
    .download-row{
        width: 100%;
        height: 400px; /* Half of phone1 image height */
        background-color: #ffffff;
        box-shadow: 0px 0px 6px 0px #bfbfbf;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: -20px;
        position: relative;
        top: -1px;
}
    .spandownload{
        display: none;
    }
    .twoimages{
        position: relative;
        top: 20px;
        left: 60px;

    }
    .downloadbtn{
        display: flex;
        position: relative;
        top: 390px;
        right:450px;
    }
    .download-text{
        font-size: 25px;

    }
  }
  
  @media (min-width: 768px) and (max-width:992px) {
    .spandownload{
        margin-top: 32px;
    }

    .googleplay{
        width: 70px;
      
    }
    .appstore{
        width: 70px;
    }
    .btnrow{
        display: flex;
        justify-content: space-between;
    }
    .downloadbtn{
        margin-top: 5px;
        margin-right: 10px;
    }
  }

  @media (min-width:769px) and (max-width:1200px) {
    .download-container{
      position: relative;
      bottom: 100px;
    }
    .download-text{
      position: relative;
      bottom:100px;
      margin-top:70px;
    }
  }