.navbar-container {
  display: flex;
  height: 90px;
  background-color: #ffffff;
  z-index: 30;
}
.nav-row {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.logo-img {
  width: 125px;
  height: 40px;
  position: absolute;
  left: 60px;
  top: 18px;
}
.call-bar {
  width: 42px;
  height: 42px;
  position: absolute;
  right: 60px;
  top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #f2b304;
}
.call-icon {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 600px) {
  .navbar-container {
    height: 60px;
    box-shadow: 0px 0px 8px 0px #e0e0e0;
  }
  .logo-img {
    width: 70px;
    height: 25px;
    position: absolute;
    left: 20px;
  }
  .call-bar {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 20px;
  }
  .call-icon{
    width:20px;
    height: 20px;
  }
}
