.footer-container{
    background-color: #222E34;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:10px;
}
.footertext{
    font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #dddddd;
}
@media screen and (max-width: 768px) {
    .footer-container{
        position: relative;
        top: 40px;
    }
    .footertext{
        font-size: 10px;
    }
}